## Week 11a: SQLite database

In [2]:
import sqlite3
import csv

#### Establish a connection

In [3]:
con = sqlite3.connect('School.db', autocommit=False)
cursor = con.cursor()

#### Create a table

In [ ]:
create_table = """CREATE TABLE students(
                        id INTEGER PRIMARY KEY,
                        fname TEXT,
                        lname TEXT);
                """

cursor.execute(create_table)

#### Insert data

In [ ]:
cursor.execute("INSERT INTO students VALUES (387423, 'Patrick', 'Ramos')")

#### Query the table

In [ ]:
results = cursor.execute("SELECT * FROM students")

for res in results:
    print(res)

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Close the connection

In [ ]:
con.close()

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Reestablish connection

In [ ]:
new_con = sqlite3.Connection('School.db', autocommit=False)
new_cursor = new_con.cursor()

In [ ]:
results = new_cursor.execute("SELECT * FROM students").fetchall()
results

In [ ]:
new_con.close()

#### Redo with `commit`

#### Check if something is in process

In [ ]:
con.in_transaction

In [ ]:
con.total_changes

#### Insert data from csv

In [ ]:
with open("students_1.csv") as f:
    data = csv.reader(f)
    for row in data:
        if row[0]=='fname':
            continue
        cursor.execute("INSERT INTO students VALUES (?, ?, ?)", (int(row[2]), row[0], row[1]))

In [ ]:
# drop_table = """DROP TABLE students"""
# cursor.execute(drop_table)
# con.commit()

#### Delete database

### Exercises

 - recreate the database called `School` with a table called `students`; add the `students_1.csv` data back into the table
 - add the students in the `students_2.csv` file to the `students` table in the database
 - in the `School` database, create a new table called `marks` and add the data in the `marks.csv`file to it